body{
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
  font-family: Opening Christmas;
  src: url("../Police/Opening Christmas.otf");
}

.h1-style{
	font-size: 60px;
	color: #165B33;
	text-align: center;  
	font-family: Opening Christmas;
}
.a-rouge {
	display: inline-block;
	padding: 5px 15px 15px;
	font-size: 35px;
	color: white;
	text-decoration: none;
	background-color: red;
	border-radius: 15px;
	transition: transform 0.4s, box-shadow 0.2s; 
	font-family: Opening Christmas;
}
.a-rouge:hover {
	transform: scale(1.10);
	box-shadow:  2.5px 5px 10px black;
}
.h2-vert {
	text-shadow: 1px 1px #0db951;
	font-size: 24px;
	font-weight: bold; 
}
.img-sapin {
	width: 50%;
}
.img-papa {
	width: 80%;
}
.table-vert {
	text-shadow: 1px 1px #0db951;
	font-size: 18px;
	font-weight: bold; 
}